
:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 1px; 
}


img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    height: 300px;
    width: 300px;
}


body {
    text-align: center;
}

body {
    background: #193549;
    color: white;
    font-family: 'Helvetica neue' , sans-serif;
    font-weight: 100;
    font-size: 50px;
}
.controls {
    margin-bottom: 50px;
}

span {
    color: var(--base)
}


@media (max-width: 768px){
    :root {
        --spacing: 2px;
    }
    body{
        font-size: 30px;
    }
    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: 100%;
        height: auto;
    }

}
    
